name: ci

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  verify-dart:
    uses: ./.github/workflows/dart_package.yml
    with:
      setup: dart --verion
      platform: "vm,chrome"
      working_directory: examples/dart_package

  verify-flutter:
    uses: ./.github/workflows/flutter_package.yml
    with:
      flutter_channel: stable
      flutter_version: 3.3.3
      setup: flutter doctor --verbose
      working_directory: examples/flutter_package

  verify-pana-dart:
    uses: ./.github/workflows/pana.yml
    with:
      min_score: 95
      working_directory: examples/dart_package

  verify-pana-flutter:
    uses: ./.github/workflows/pana.yml
    with:
      min_score: 95
      working_directory: examples/flutter_package

  verify-semantic-pull-request:
    uses: ./.github/workflows/semantic_pull_request.yml
    with:
      scopes: "dart_package, deps, flutter_package, pana, semantic_pull_request, spell_check"

  verify-spell-check:
    uses: ./.github/workflows/spell_check.yml
    with:
      modified_files_only: false

  build:
    needs:
      [
        verify-dart,
        verify-flutter,
        verify-pana-dart,
        verify-pana-flutter,
        verify-semantic-pull-request,
        verify-spell-check,
      ]

    runs-on: ubuntu-latest

    steps:
      - name: noop
        run: echo 'noop'
