name: ci

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  verify-dart:
    uses: VeryGoodOpenSource/very_good_workflows/.github/workflows/dart_package.yml@main
    with:
      working_directory: examples/dart_package

  verify-flutter:
    uses: VeryGoodOpenSource/very_good_workflows/.github/workflows/flutter_package.yml@main
    with:
      working_directory: examples/flutter_package
      flutter_channel: stable

  build:
    needs: [verify-dart, verify-flutter]

    runs-on: ubuntu-latest

    steps:
      - name: noop
        run: echo 'noop'
